.shelterWrap {
    display: flex;
    flex-direction: column;
}
.resShelter {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shelters {
    display: flex;
    margin: 10px auto;
    border: 2px solid gray;
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
}

.shelters h4, p {
    display: inline-block;
    margin: 0;
    padding: 10px 5px;
}

.shelters h4, p:not(:last-child) {
    border-right: 2px solid black;
}
