.resShelter {
    margin-left: 300px;
    margin-right: 300px;
}

.shelterWrap {
    display: flex;
    flex-direction: column;
}

.shelters {
    justify-content: left;
    display: flex;
    margin: 1rem;
    align-items: center;
}

.shelters h4 {
    margin-right: 10px;
}

.shelters button {
    padding: 0.25rem 0.5rem;
    margin: 0 1rem;
    font-size: 1rem;
    border: 2px solid var(--light-text);
    background: var(--border);
    color: var(--light-text);
}

.shelterPets {
    justify-content: space-around;
    margin-left: 15px;
    display: flex;
    
}

.petName {
    /* display: flex; */
    /* flex-direction: column; */
}

/* Pagination */
.pagination li {
    display: inline-block;
    margin: 1rem;
}

.pagination button {
    background: var(--light-text);
    padding: 1rem;
    cursor: pointer;
}

.pagination li:first-child button {
    border: none;
    border-left: 5px solid var(--second);
}

.pagination li:last-child button {
    border: none;
    border-right: 5px solid var(--second);
}

button#begin {
    border-left: 5px solid var(--main);
    pointer-events: none;
}

button#end {
    border-right: 5px solid var(--main);
    pointer-events: none;
}

/* modal */

.peticon {
    width: 95px;
    height: 95px;
    overflow: hidden;
}
