.Header {
    display: flex;
    justify-content: space-around;
    background-color: var(--main);
}

.navigation {
    list-style-type: none;
}

.navigation li {
    display: inline-block;
}

.navigation li a {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    color: white;
    text-decoration: none;
}

.selected {
    background-color: var(--second);
    border-radius: 10px;
}

h1 a {
    color: white;
    text-decoration: none;
    margin: 1rem;
}