.footer {
    background: var(--dark-text);
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer li {
    display: inline-block;
}

.footer a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5%;
}

#twitter {
    background-color: #08a0e9;
}

#facebook {
    background-color: #3B5998;
}

#instagram {
    background-color: #515BD4;
}