.App {
    text-align: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main: #BB7C72;
    /* --main: #704944; */
    --second: #72bb9a;
    --border: #8D6962;
    --light-text: #F3EAE6;
    --dark-text: #423E39;
}